/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*/
/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

.BuecherGalerie {
    display: grid; /* Grid Layout verwenden */
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    grid-row-gap: 0.1px;
    grid-gap: 0.5px; /* Abstand zwischen den Elementen */
    justify-items: center; /* Zentriert die Elemente horizontal */

    margin: 2px auto; /* Zentriert das gesamte Grid */
}

    .BuecherGalerie div {
        margin-top: 2em;
        text-align: center; /* Zentriert den Text */
        font-size: 1.7em;
        font-style: oblique;
        max-width: 200px; /* Maximale Breite eines Bildes */
    }

    .BuecherGalerie img {
        width: 130%; /* Bild an die Breite des Containers anpassen */
        margin-top: auto;
        border-radius: 5px; /* Abgerundete Ecken */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
        cursor: pointer; /* Hand-Mauszeiger bei Hover */
        transition: transform 0.3s ease; /* Leichte Animation bei Hover */
    }

        .BuecherGalerie img:hover {
            transform: scale(1.05); /* Vergrößerung beim Hover */
        }

.buchKlappentext {
    font-size: 25px;
    text-align: center;
    margin: 55px;
}

.preis {
    font-size: 25px;
}

.erscheinungsdatum {
    font-size: 22px;
}

.ueberschriftRez{
    font-size: 25px;
}

.rezInhalt{
    font-size:20.5px;
    font-weight:600;
}
