@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="author-image" src="~/img/autorin.jpg" alt="Die Autorin">
</div>

<div>
    <h3 class="h3-headline"> Hi, Ich bin Adeline! </h3>
    <div class="text-startseite">
        <p>
            Wie schön, dass Sie den Weg zu meiner kleinen Ecke im Internet gefunden haben! Ich bin Adeline Meadows und freue mich riesig, dass Sie hier sind.
            Schreiben ist meine große Leidenschaft, und es ist mir eine Freude, meine Geschichten und Gedanken mit Ihnen zu teilen.
        </p>

        <p>
            Auf dieser Webseite finden Sie alles rund um meine Bücher, die ich mit viel Liebe und Hingabe geschrieben habe.
            In der Bücher-Sektion können Sie einen Blick auf meine Werke werfen – vielleicht finden Sie ja eine Geschichte, die Sie besonders anspricht.
        </p>

        <p>
            Wenn Sie ein wenig mehr über mich und meinen Weg als Autorin erfahren möchten, besuchen Sie doch die Über Mich-Seite. Dort erzähle ich ein
            bisschen über meine Inspirationen, meine Schreibreise und was mich antreibt. Ich finde es immer spannend, mit meinen Leserinnen und Lesern
            in Kontakt zu treten, daher habe ich ein Kontaktformular eingerichtet. Zögern Sie nicht, mir zu schreiben – sei es mit Fragen, Anregungen oder
            einfach nur, um Hallo zu sagen. Ich freue mich auf Ihre Nachrichten!
        </p>

        <p>
            Ich hoffe, dass Sie beim Stöbern auf meiner Seite genauso viel Freude haben wie ich beim Erstellen dieser Geschichten. Machen Sie es sich gemütlich,
            nehmen Sie sich Zeit und lassen Sie sich von meinen Erzählungen verzaubern.
        </p>


        <p>
            <br> Danke, dass Sie hier sind. Viel Spaß beim Entdecken und Lesen!
        </p>

    </div>
</div>
